{% extends 'base.html.twig' %}

{% block title %}Markdown transform{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/markdown.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Markdown transformation</h1>

        <div class="content">
            {{ form(form) }}

            <div class="demo-wrapper">
                <h3>Будет отображаться так:</h3>
                <div class="demo-block" id="demo-result">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
