{% extends 'base.html.twig' %}

{% block title %}Markdown result!{% endblock %}

{% block body %}
<div class="container">
    <h1>Transformation result.</h1>

    <div class="content">
        <div class="demo-wrapper">
            <h3>Введенный текст:</h3>
            <div class="demo-block">
                {{ text | escape }}
            </div>
        </div>

        <div class="demo-wrapper">
            <h3>Будет отображаться так:</h3>
            <div class="demo-block">
                {{ html | raw }}
            </div>
        </div>

        <div class="demo-wrapper">
            <h3>HTML код:</h3>
            <div class="demo-block" id="demo-result">
                {{ html | escape }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
